/*****************************************************************************
  ProfileWebsite
******************************************************************************/


@import '../../bower_components/bourbon/dist/_bourbon.scss';
$visual-grid: true;
$visual-grid-color: green;
$gril-columns: 12;
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';





/*****************************************************************************
  Base Styles
******************************************************************************/
* {
  box-sizing: border-box;
}
main {
	@include outer-container;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}




/*****************************************************************************
  Layout Styles
******************************************************************************/
.intro {
  position: relative;
  width: 100%;
  height: 643px;
  z-index: 0;
  .name {
  width: 60%;
  z-index: 4;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  position: absolute;
  top: 35%;
  height: 30%;
  }
}
.introLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 643px;
  z-index: 2;
}
/*.menu {
  width: 100%;
  height: 3rem;
  margin-top: 0;
  li {
    display: inline-block;
    @include span-columns(3);
    @include omega(4n);
  }
}*/
#toggleButton {
  height: 2rem;
  width: 10%;
  margin: 1rem 45% 1rem;
  border-radius: 5px;
  border: 2px black;
}
.toggleMenu {
  width: 100%;
  height: 3rem;
  margin-top: 0;
  padding: 0;
  li {
    @include span-columns(12);
  }
}
.backstory {
  width: 100%;
  height: 200px;
  margin-top: 0;
  clear: both;
}
.detail {
  width: 100%;
  height: 200px;
  margin-top: 0;
}
/*****************************************************************************
  Module Styles
******************************************************************************/
.intro {
  background-image: url("../images/images1.jpg");
  .name {
  color: yellow;
  font-size: 2rem;
  }
}
.introLayer {
  background-color: #91ffb4;
  opacity: 0.6;
  position: absolute;
}
/*.menu {
  background-color: white;
  li {
    padding-top: 1rem;
    text-align: center;
  }
}*/
.nav {
  background-color: black;
  #toggleButton {
    background-color: transparent;
    border: 0.5rem gray;
  }
}
#toggleButton span,
#toggleButton span:before,
#toggleButton span:after {
  cursor: pointer;
  height: 2px;
  width: 44px;
  background: blue;
  position: absolute;
  display: block;
  content: '';
}
.toggleMenu {
  li {
    padding-top: 1rem;
    background-color: white;
    text-align: center;
    list-style: none;
  }
  li:nth-child(4) {
    padding-bottom: 1rem;
  }
}
.backstory {
  background-color: blue;
  opacity: 0.5;
}
.detail {
  background-color: yellow;
  opacity: 0.5;
}
.statement {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  line-height: 1.5rem;
}